<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>像素画板</title>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    input[type="color"]::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
      border: 0;
    }

    /*  left-3 -top-full */
    .offset {
      left: 0.75rem;
      top: calc(-100% - 3.5px);
      transform: translateY(25%);
    }

    /* 滚动条样式 */
    .scrollbar-container::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      background-color: #f0f0f0;
    }

    .scrollbar-container::-webkit-scrollbar-thumb {
      background-color: #c0c0c0;
      border-radius: 5px;
    }

    .scrollbar-container::-webkit-scrollbar-thumb:hover {
      background-color: #a0a0a0;
    }

    main>div {
      border: dotted 1px #c0c0c0;
    }
  </style>
</head>

<body class="scrollbar-container">
  <div id="app" class="w-screen h-screen flex items-center flex-col">
    <!-- 操作台 -->
    <div class="flex items-center my-5 h-10 border-b border-t gap-2 scrollbar-container [&_*]:transition-all">
      <!-- 成品 -->
      <div class="flex border-r pr-2 items-center">
        <div class="mr-1 cursor-pointer relative group">
          <p class="text-sm hover:text-stone-400 text-nowrap">{{workName==null?"请选择作品":workName}}&dtrif;</p>
          <ul
            class="absolute invisible opacity-0 group-hover:opacity-100 group-hover:visible left-0 top-7 shadow-md bg-white py-3 px-5 rounded-md text-sm w-44 overflow-hidden">
            <li class="leading-6 hover:text-stone-400 hover:border-l-2 hover:pl-4 truncate group/del" v-for="i in works"
              @click="selectWork(i)">
              <p class="flex">
                <span class="flex-1">{{i.name}}</span>
                <img src="https://api.iconify.design/ph:trash-bold.svg" class="opacity-0  group-hover/del:opacity-100"
                  @click.stop="deleteWork(i)">
              </p>
            </li>
          </ul>
        </div>
        <button class="text-sm bg-stone-400 px-2 py-1 rounded-md text-stone-50" @click="play">play</button>
      </div>
      <!-- 选择背景颜色 -->
      <input type="color" id="bgDrawingBoard" v-model="bgDrawingBoard"
        class="w-8 focus:outline-none cursor-pointer rounded overflow-hidden">
      <label for="width" class="relative">
        <span class="absolute offset text-gray-400">w</span>
        <input type="number" v-model="width.value" :max="width.max" class="text-center h-full focus:outline-none w-12">
      </label>
      <label for="width" class="relative">
        <span class="absolute offset text-gray-400">h</span>
        <input type="number" v-model="height.value" :max="height.max"
          class="text-center h-full focus:outline-none w-12">
      </label>
      <button @click="changeDrawingBoard"
        class="text-sm bg-stone-400 px-2 py-1 rounded-md text-stone-50">change</button>

      <!-- 笔刷 -->
      <div class="border-l pl-2 flex justify-center gap-2 items-center">
        <img src="https://api.iconify.design/ph:eraser.svg" class="p-1 rounded cursor-pointer"
          :class="currentColor=='#00000000'?'bg-stone-200':''" @click="switchingTool('eraser')">
        <img src="https://api.iconify.design/ph:paint-brush.svg" class="cursor-pointer rounded p-1"
          :class="currentColor=='#00000000'?'':'bg-stone-200'" @click="switchingTool('brush')">
        <div v-for="i in brush" class="w-6 h-6 rounded flex justify-center items-center cursor-pointer"
          :class="i==currentColor?`bg-[${i}]/50`:''" @click="currentColor=i">
          <div class="w-4 h-4 rounded" :class="`bg-[${i}]`"></div>
        </div>

        <!-- 选择背景颜色 -->
        <div class="w-6 h-6 rounded flex justify-center items-center cursor-pointer"
          :class="currentColor==customColor?`bg-[${customColor}]/50`:''">
          <input type="color" id="bgDrawingBoard" v-model="customColor" @input="currentColor=customColor"
            class="w-4 h-4 rounded overflow-hidden focus:outline-none cursor-pointer">
        </div>
      </div>

      <!-- 保存和重置 -->
      <div class="border-l pl-2 flex items-center">
        <button class="text-sm bg-stone-400 px-2 py-1 rounded-md text-stone-50 relative group">
          save
          <ul
            class="absolute invisible opacity-0 group-hover:opacity-100 group-hover:visible left-0 top-7 shadow-md bg-white py-3 px-5 rounded-md text-sm w-36 overflow-hidden text-black text-left">
            <li class="leading-6 hover:text-stone-400" @click="save">save</li>
            <li class="leading-6 hover:text-stone-400" @click="save('file')">save as (a file)</li>
          </ul>
        </button>
        <button class="text-sm bg-stone-400 px-2 py-1 rounded-md text-stone-50 ml-2" @click="reset">reset</button>
      </div>
    </div>
    <!-- 画板 -->
    <main class="grid box-content" :style="{
      height: height + 'rem', 
      width: width + 'rem',
      backgroundColor: bgDrawingBoard,
      gridTemplateColumns: `repeat(${drawingBoardSize.width}, 1fr)`,
      gridTemplateRows: `repeat(${drawingBoardSize.height}, 1fr)`
  }" @mousedown.prevent="start" @mouseover.prevent="draw" @mouseup.prevent="end"
      @mouseleave.prevent="  startDarwing = false">

      <template v-for="(row,rIndex) in drawingBoard" :key="rIndex">
        <div v-for="(col,cIndex) in row" class="w-4 h-4" :style="{backgroundColor:col,
        borderColor:col==='#00000000'?'#c0c0c0':col
      }" :data-row="rIndex" :data-col="cIndex">
        </div>
      </template>

    </main>
  </div>
</body>
<script type="module">
  const { createApp } = Vue
  import { useDrawingBoard } from './js/index.js'
  createApp({
    setup() {
      return useDrawingBoard()
    }
  }).mount('#app')
</script>

</html>